body h1{
  text-align: center;
}
.tabela{
  max-width: 750px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#table tr td {
  padding: 5px;
  border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 5px;
    font-size: 30pt;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    font-weight: bold;
}
#table tr td input{
  width: 67px;
  font-size: 30pt;
  font-weight: bold;
  background-color: white;
  text-align: center;
  color: green;
  width: 60px;
  height: 60px;
}
.botoes {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: 40px;
}

.btn-resolver {
  width: 140px;
  height: 50px;
  margin: 1rem;
  color: white;
  font-size: large;
  background-color: hsl(165deg 58% 55%);
  border: 1px solid hsl(165deg 58% 55%);
}
.btn-limpar {
  width: 140px;
  height: 50px;
  margin: 1rem;
  font-size: large;
  color: white;
  background-color: hsl(354deg 81% 63%);
  border: 1px solid hsl(354deg 81% 63%);
}

/* Vertical line 1 */
#td02, #td12, #td22, #td32, #td42, #td52, #td62, #td72,#td82{
  border-right: 5px solid black !important;
}

/* Vertical line 2 */
#td05, #td15, #td25, #td35, #td45, #td55, #td65, #td75,#td85{
  border-right: 5px solid black !important;
}

/* Horizontal line 1 */
#td20, #td21, #td22, #td23, #td24, #td25, #td26, #td27,#td28{
  border-bottom: 5px solid black !important;
}

/* Horizontal line 2 */
#td50, #td51, #td52, #td53, #td54, #td55, #td56, #td57,#td58{
  border-bottom: 5px solid black !important;
}